<html>
    <head>
        <title>Kickstarter Clone</title>
        <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
        <link rel="stylesheet" href="style.css"/>
        <script src="https://use.fontawesome.com/3ce908b503.js"></script>

        <style>
            * {
                font-family: Arial, Helvetica, sans-serif
            }
        </style>
    </head>
    <body>
        <header>
            <h1 class="tc">Kickstart</h1>
        </header>
        <main>
            <%=yield%>
        </main>
    </body>
</html>